.calc__main{
    background: #3a4764;
    min-height: 100vh;
    padding: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    &-wrapper{
        height: 90px;
        width: 422px;

        &-header{
            background: green;
            color: #fff;
            width: 100%;

            display: flex;
            justify-content: space-between;

            .selector{
                display: flex;

                .buttons-wrap {
                    margin-left: 10px;

                    .numbers{
                        padding: 0 5px;
                    }

                    .buttons{
                        background: #232c43;
                        border-radius: 20px;
                        padding: 5px;

                        align-items: center;
                        display: flex;

                        button{
                            background: red;
                            border: none;
                            border-radius: 50%;
                            height: 10px;
                            width: 10px;
                        }
                    }

                }
            }
        }

        &-body{
            box-sizing: border-box;
            background: #232c43;
            border-radius: 10px;
            margin-top: 24px;
            padding: 25px;
            width: 100%;

            .row{
                margin-bottom: 18px;
                width: 100%;

                &:last-child{
                    margin-bottom: 0;
                }

                button{
                    border-radius: 12px;
                    height: 60px;
                    margin-right: 18px;
                    width: 79px;

                    &:last-child{
                        margin-right: 0;
                    }
                }
                
            }
        }
    }
}